* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(24, 24, 36);
    color: rgb(245, 245, 245);
}

/* * Header Section Start */

/* * Navigation Bar */

nav {
    height: 70px;
    background-color: rgb(24, 24, 36);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.logo {
    width: 600px;
    font-size: 19px;

}

span {
    display: inline-block;
    color: rgb(255, 255, 255);


}

span::first-letter{
    color: rgba(117, 98, 224);
}

.links-container {
    width: auto;
    height: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.toggle-btn {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(117, 98, 224);
    color: white;
    cursor: pointer;
}



nav a:hover{
    color: rgb(117, 98, 224);
    text-decoration: underline;
}

nav svg {
    fill: white;
}

#active-side-bar {
    display: none;
}

.open-side-bar-btn {
    
    display: none;
}

.close-side-bar-btn {
    
    display: none;
}

@media(max-width: 570px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;


        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 220px;
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 1.3s ease-out;
        /* margin-bottom: 400px; */
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav svg {
        fill: rgba(117, 98, 224);
    }

    .toggle-btn{
        margin-left: 27px;
    }
    .open-side-bar-btn {
        padding: 20px;
        display: block;
    }
    
    .close-side-bar-btn {
        padding: 20px;
        display: block;
    }

    #active-side-bar:checked ~ .links-container {
        right: 0;

    }



}

/** Header Section End */

/** Home / Hero Section Start */

.home-section {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.my-intro {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    z-index: 2; 
    margin-top: 50px;
}

h1, h2, h3 {
    color: rgb(245, 245, 245);
    line-height: 50px;
}

h1 {
    font-size: 50px;
}
.cv-btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(117, 98, 224);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.my-picture{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    
    
}

.hero-image {
    width: 390px;
    height: 385px;
    border: 10px solid rgb(117, 98, 224);
    /* box-shadow: 10px  rgba(117, 98, 224, 0.2); */
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px rgba(117, 98, 224, 0.5), -1px -1px 30px 10px rgba(117, 98, 224, 1);
    object-fit: cover;

}
.my-picture img {
    width: 400px;
    height: 400px;
    
}
/** Home / Hero Section End */

/** Services Section Start */

#Services {
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 41);
    margin-bottom: 100px;
    margin-top: 20px;
    padding-bottom: 40px;
    
}

.services-main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
}

.services-info {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-bottom: 50px;
    
}
.services-info > h3 {
    font-size: 40px;
    padding-bottom: 40px;
    text-decoration: underline;
    color: rgb(117, 98, 224);
}

.cards-main-container {
    width: 1200px;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cards-main-container h1 {
    text-align: center;
}

.card {
    width: 290px;
    height: 300px;
    border: 2px solid rgb(117, 98, 224);
    border-radius: 20px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    box-shadow: 1px 1px 10px 7px rgba(117, 98, 224, 0.5), -1px -1px 20px 1px rgba(117, 98, 224, 0.5);
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid yellow;
    text-align: center;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    display: block;
    width: 38px;
    height: 38px;
}

.card  h2, p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}



#white-color {
    border-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 10px 7px rgba(245, 245, 245 0.5), -1px -1px 20px 1px rgba(245, 245, 245 1);
    
}


/** Services Section End */

/* * Project Section Start */

#Projects {
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 41);
    margin-bottom: 100px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.projects-main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* padding-left: 40px; */
}

.cards-container{
     width: 1200px;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.project-h1 {
    width: 100%;
    text-align: center;
    color: rgb(117, 98, 224); /* Ensure the text is visible */
    font-size: 40px; /* Adjust font size as needed */
    padding-bottom: 40px;
    text-decoration: underline;
}


.project-card {
    width: 290px;
    height: 350px;
    border: 2px solid rgb(117, 98, 224);
    border-radius: 20px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: start;
    padding-top: 10px;
}

.video-container {
    width: 80%;
    height: 45%;
    background-color: yellow;
    border-radius: 10px;
}

.description {
    padding-left: 34px;
    padding-right: 30px;
}

.btns {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .btns button {
    

} */

.btn-1 {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(117, 98, 224);
    color: rgb(245, 245, 245);
    cursor: pointer;
}

.btn-2{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(49, 49, 63);
    color: rgb(245, 245, 245);
    border: 2px solid rgb(117, 98, 224);
    cursor: pointer;
}

.project-name {
    
    text-align: start;
    color: rgb(117, 98, 224);
}
/* * Project Section End */


 /**  About Section Start  */

 #About {
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 41);
    margin-bottom: 100px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.left-side-container {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid white; */
}

.line-container {
    width: 310px;
    height: 320px;
    border: 10px solid rgb(117, 98, 224);
    position: relative;
    box-shadow: 1px 1px 10px 10px rgba(117, 98, 224, 0.5), -1px -1px 30px 10px rgba(117, 98, 224, 0.5);
    /* background-color: rgb(117, 98, 224); */
}

.about-photo{
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: rgb(26, 26, 41);
}

.about-photo img {
    width: 310px;
    height: 320px;
}

.right-side-container {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* padding-bottom: 60px; */
}
.right-side-container h1,h4 {
    margin-bottom: 10px;
}

.right-side-container p {
    text-align: start;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: -20px;
}

.resume-btn button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(117, 98, 224);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.resume-btn button:hover{
    box-shadow: 1px 1px 10px 7px rgba(117, 98, 224, 0.5), -1px -1px 20px 1px rgba(117, 98, 224, 0.5);
}

/** About Section Completed */

/** Contact Section Start */

#Contact {
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 41);
    margin-bottom: 100px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cntct-left-container {
    width: 600px;
    height: 550px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.links-main-container{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: flex-start; 
    flex-direction: column;
    /* border: 2px solid white;     */
    margin-top: 40px;
    gap: 20px;
    padding-bottom: 100px;
}

.links{
    width: 400px;
    height: 50px;
    /* border: 1px solid white; */
    margin-top: -30px;
    

}
.links i {
    font-size: 30px;
    color: rgb(117, 98, 224);
    border-radius: 50%;   
    margin-left: 20px;   
    
}
.links i:hover{
    box-shadow: 1px 1px 10px 7px rgba(117, 98, 224, 0.5), -1px -1px 20px 1px rgba(117, 98, 224, 0.5);
}

/** Right container */

.cntct-right-container {
    width: 600px;
    height: 550px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
form input{
    width: 350px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(50, 50, 63);
    border: none;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}
.textArea {
    width: 350px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(50, 50, 63);
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.cntct-right-container button {
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(117, 98, 224);
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.cntct-right-container button:hover {
    box-shadow: 1px 1px 10px 7px rgba(117, 98, 224, 0.5), -1px -1px 20px 1px rgba(117, 98, 224, 0.5);
}